In [1]:
import pandas as pd

In [8]:
data = {'Gender':['Male', 'Female', 'Male', 'Male', 'Female'],
       'Age': ['E', 'A', 'A', 'C', 'A'],
       'Weight': [70, 80, 55, 60, 33],
       'Height': [7.8, 7.9, 6.1, 5.3, 5.2]}
df =pd.DataFrame(data)
df.head()

   Gender Age  Weight  Height
0    Male   E      70     7.8
1  Female   A      80     7.9
2    Male   A      55     6.1
3    Male   C      60     5.3
4  Female   A      33     5.2