In [2]:
import numpy as np
import pandas as pd

In [3]:
data = [10, 20, 30, 40, 50, 60]
print(type(data))

<class 'list'>

In [5]:
series_list = pd.Series(data)
series_list

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [6]:
print(type(series_list))

<class 'pandas.core.series.Series'>

In [8]:
data_dict = {
    'a':10,
    'b':20,
    'c':30,
    'd':40,
    'e':50,
}
data_dict

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [10]:
series_dict = pd.Series(data_dict)
series_dict

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [11]:
type(series_dict)

pandas.core.series.Series

In [12]:
numpy_array = np.array(data)
numpy_array

array([10, 20, 30, 40, 50, 60])

In [13]:
series_numpy = pd.Series(numpy_array)
series_numpy

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int32

In [14]:
type(series_numpy)

pandas.core.series.Series

In [27]:
a = [[1, 2], [3, 4], [5, 6]]
print(len(a))
a

3

[[1, 2], [3, 4], [5, 6]]

In [30]:
a_list = pd.DataFrame(a, columns = ['col1', 'col2'])
a_list

   col1  col2
0     1     2
1     3     4
2     5     6

In [32]:
#dictionary of lists
dict_list = {
    "A": [1, 2],
    "B": [3, 4]
}
dict_list

{'A': [1, 2], 'B': [3, 4]}

In [34]:
df_dict = pd.DataFrame(dict_list)
df_dict

   A  B
0  1  3
1  2  4

In [40]:
#lsit of Dictionaries
list_dict = [
    {'Name' : 'Rajesh', 'Age' : 20},
    {'Name' : 'Jagannath',  'Age' :21}
    ]
list_dict

[{'Name': 'Rajesh', 'Age': 20}, {'Name': 'Jagannath', 'Age': 21}]

In [41]:
list_df = pd.DataFrame(list_dict)
list_df

        Name  Age
0     Rajesh   20
1  Jagannath   21

In [46]:
data_path = 'car_details.csv'

In [47]:
df_car = pd.read_csv(data_path)
df_car.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [49]:
a = df_car.to_excel("car_details.csv", engine= 'xlsxwriter')
a

ModuleNotFoundError: No module named 'xlsxwriter'