In [1]:
#create simple tuple
simple_tuple = ("Rajesh", "is", 20, "years", "old")
print(simple_tuple)

('Rajesh', 'is', 20, 'years', 'old')

In [2]:
#type
print(type(simple_tuple))

<class 'tuple'>

In [3]:
#calculating Length
print(len(simple_tuple))

5

In [4]:
#creating nested tuple
nested_tuple = (('Rajesh', 20), ('Jagannath', 21), ('Lucius', 25))
print(nested_tuple)

(('Rajesh', 20), ('Jagannath', 21), ('Lucius', 25))

In [5]:
#type
print(type(nested_tuple))

<class 'tuple'>

In [6]:
#length
print(len(nested_tuple))

3

In [7]:
#creation of tuple from strings

str = "I am  the God."
print(str.split())

['I', 'am', 'the', 'God.']

In [8]:
#tuple indexing
#positive indexing
tup_lst = (0, 1 ,2, 3, 4, 5)
print(tup_lst)

(0, 1, 2, 3, 4, 5)

In [9]:
#value of 1st item
print(tup_lst[0])

0

In [10]:
#last value
print(tup_lst[5])

5

In [13]:
#negative indexing
print(tup_lst[-len(tup_lst)])

0

In [14]:
#print 3rd item
tup_lst[-3]

3

In [15]:
#slicing using positive indexing
simple_tuple[:4]

('Rajesh', 'is', 20, 'years')

In [16]:
#sliceing using negative index

simple_tuple[-1:]

('old',)

In [18]:
#even index
simple_tuple[::2]

('Rajesh', 20, 'old')

In [20]:
#when case is negative
#slice first 3 items
simple_tuple[2::-1]

(20, 'is', 'Rajesh')

In [26]:
#last 3 items
simple_tuple[-1:-4:-1]

('old', 'years', 20)

In [27]:
#reverse tuple

simple_tuple[::-1]

('old', 'years', 20, 'is', 'Rajesh')

In [28]:
#verifying tuples are immmutable
simple_tuple("King", "has", "Returned")
print(simple_tuple)

TypeError: 'tuple' object is not callable

In [29]:
#initializing tuple
tuple_m = (1, 2, 3, 4, 5, 6, 4, 5, 6, 2, 4, 6)

In [30]:
#counting occurence of 2
print(tuple_m.count(2))

2

In [31]:
#get the index of third 6 in a list
tuple_m.index(6)

5

In [32]:
#input tuple
#typecast to list
#append to list
#typecast back to tuple

input = ("King", "is" ,"back")
typ_cst = (list(input))
typ_cst.append("From Hell")
input = tuple(typ_cst)
print(input)

('King', 'is', 'back', 'From Hell')

In [35]:
#create a tuple
#create value to be added to tuple 
#concatenate it
tuple1 = (1,2,3)
value_to_add=(4,)
tuple1 = tuple1 + value_to_add
print(tuple1)

(1, 2, 3, 4)

In [36]:
# create tuples of length 4
# unpack tuples items to 4 other variables

w, x, y, z = simp_tup = ("I", "am", "the", "God.")
print(w)
print(x)
print(y)
print(z)

I
am
the
God.

In [38]:
# Unpack Tuples values using 3 variables
# Hint: a, *b, c

a, *b, c = simp_tup
print(a)
print(b)
print(c)

I
['am', 'the']
God.

In [39]:
#Initialize Tuples and loop through Tuples items one by one.
for item in simple_tuple:
    print(item)
    print('-------------------')

Rajesh
-------------------
is
-------------------
20
-------------------
years
-------------------
old
-------------------

In [40]:
#Use enumerate() function to loop through Tupes to get index and values.
for index, item in enumerate(simple_tuple):
    print(index, item)
    print('-------------------------')

0 Rajesh
-------------------------
1 is
-------------------------
2 20
-------------------------
3 years
-------------------------
4 old
-------------------------

In [41]:
#Write a python program to lowercase item in given Tuples using Tuple comprehension.
create_tup = ("APPLE", "Mango", "BaNaNa", "GRapes")
lower_tup = tuple(item.lower() for item in create_tup)
print(lower_tup)

('apple', 'mango', 'banana', 'grapes')